$primary: #006ec7;
$secondary: #019645;

// Fuentes
$familia-fuente-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Titulos
$headings-font-family: 'D-DIN', $familia-fuente-sans-serif;

// Cuerpo
$font-family-base: 'Inter', $familia-fuente-sans-serif;
