$primary: #006ec7;
$secondary: #019645;

// Fuentes
$familia-fuente-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Titulos
@font-face {
  font-family: 'D-DIN';
  src: url('../static/fonts/d-din/D-DIN.otf') format('otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'D-DIN';
  src: url('../static/fonts/d-din/D-DIN-Bold.otf') format('otf');
  font-style: normal;
  font-weight: bold;
}

$headings-font-family: 'D-DIN', $familia-fuente-sans-serif;

// Cuerpo
@font-face {
  font-family: 'Inter';
  src: url('../static/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../static/fonts/inter/Inter-Bold.woff') format('woff2');
  font-style: normal;
  font-weight: bold;
}

$font-family-base: 'Inter', $familia-fuente-sans-serif;
